*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}
body{
    background-color: greenyellow;
    font-family: 'Kanit', sans-serif;
font-family: 'Mulish', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'PT Sans', sans-serif;
}
header{
    background-color: hsl(0deg 0% 100%);
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    
}
.header{
    height: 100px;
    width: 25%;
    background-color: aqua;
    display: flex;
    text-align: center;
    
}
.left{
    padding: 30px 0 0 20px;
    gap: 2rem;
}
ul{
    display: flex;
    list-style: none;
    gap: 2rem;
}
.a-left,.a-right{
    text-decoration: none;  
}
.right{
    padding: 30px 20px 0 0;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.content{
    min-height: 300px;
    width: 80%;
    margin: auto;
    background-color: orange;
}
h1{
    text-align: center;
    padding: 5rem;  
}
.aside-left, .aside-right{
    margin: auto;
    min-height: 300px;
    background-color: green;
    width: 40%;
    display: inline-block;
    
}
.aside-right{
    width: 55%
}
.container{
    width: 70%;
    min-height: 400px;
    background-color: yellow;
    margin: auto;
}
h2{
    padding-top:  6rem
    
    
}
.radio{
    padding-top: 3rem;
}
.cards{
    margin-bottom: 6rem;
}
.row{
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem;
}
.big-card{
    min-height: 500px;
    width: calc(90% / 3);
    background-color: red;
    margin-bottom: 3rem;
}
.biggest-card{
    min-height: 100px;
    background-color: blueviolet;
    margin-bottom: 4rem;
}
.content{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 6rem;
}
.normal-card{
    width: calc(100% / 3);
    min-height: 200px;
    background-color: pink;
    border: 1px solid black;
}
#link {
    display: inline-block;
   margin: 3rem 0 5rem 0;
}
.wide-section{
    width: 100%;
    min-height: 400px;
}
.icons-row{
    display: flex;
    width: 100%;
}
.col{
    width: calc(100% / 3);
    min-height: 400px;
    background-color: salmon;
    border: 1px solid black;
}
.left-part, .right-part{
    display: flex;
    flex-wrap: wrap;
}
.team{
    width: calc(100% / 2);
    height: 50%;
    border: 1px solid black;
}